<!DOCTYPE html>
<html lang="en">
<head>
  {% block header %}
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  {% include 'head.jinja2' %} 
  <div id="content">{% block content %}{% endblock %}</div>
  {% include 'foot.jinja2' %}
</body>
