{% block head %}
  <div>
    <a href="/">Home</a>
    <a href="/login">
      {% if sess %}
        Logoff
      {% else %}
        Login
      {% endif %}
    </a>
  </div>
  <h1>Template Header For {{ project }}
    {% if sess %}
      {% set uname = sess.get_name() %}
      {% if uname %}
        {{ uname }}
      {% else %}
        Nobody
      {% endif %}
    {% endif %}
  </h1>
{% endblock %}
