{% block head %}
  <h1>Template Header For {{ project }}</h1>
  <a href="/login">
    {% set uname = sess.get_name() %}
    {% if uname %}
      {{ sess.get_name() }}
    {% else %}
      Login
    {% endif %}
  </a>
{% endblock %}
