{% extends "base.jinja2" %}
{% block content %}
  <div>
    <table>
      {% for row in rows %}
        <tr>
          {% for column in row %}
            <td>{{ column }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
  <p class="important">
    Welcome on my awesome homepage. Project = {{ project }}
  </p>
{% endblock %}
